<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	</head>
	<body>
		<div class="row collapse" th:fragment="diagramme" id="diagramme" style="margin-top: -100px; margin-bottom: 30px;">
			<h3>Solution diagramme</h3>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1275px" version="1.1" viewBox="0 0 1275 688" style="max-width: 100%; max-height: 688px;">
				<defs>
				<linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="mx-gradient-ffcd28-1-ffa500-1-s-0">
				<stop offset="0%" style="stop-color:#ffcd28" />
				<stop offset="100%" style="stop-color:#ffa500" /></linearGradient>
				<linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="mx-gradient-fff2cc-1-ffd966-1-s-0">
				<stop offset="0%" style="stop-color:#fff2cc" />
				<stop offset="100%" style="stop-color:#ffd966" /></linearGradient></defs>
				<g transform="translate(0.5,0.5)">
				<path d="M 101 286 Q 136 286 136 256 Q 136 226 164.63 226" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 169.88 226 L 162.88 229.5 L 164.63 226 L 162.88 222.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1 260.93 C 1 259.62 1.54 258.37 2.49 257.44 C 3.45 256.52 4.75 256 6.1 256 L 95.9 256 C 97.25 256 98.55 256.52 99.51 257.44 C 100.46 258.37 101 259.62 101 260.93 L 101 310.19 C 84.88 304.37 67.12 304.37 51 310.19 C 34.88 316 17.12 316 1 310.19 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(8.5,279.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="85" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 86px; white-space: nowrap; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Salary file CSV</b>
					</div>
				</div></foreignObject>
				<text x="43" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Salary file CSV&lt;/b&gt;</text></switch></g>
				<path d="M 111 297 L 571 297 L 571 276 L 611 311 L 571 346 L 571 325 L 111 325 L 111 311 Z" fill="#f8cecc" stroke="#b85450" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(329.5,304.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="62" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Import Job</b>
					</div>
				</div></foreignObject>
				<text x="31" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Import Job&lt;/b&gt;</text></switch></g>
				<path d="M 671 376 Q 671 456 567.37 456" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 562.12 456 L 569.12 452.5 L 567.37 456 L 569.12 459.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 641 361 L 641 301 C 641 292.72 654.43 286 671 286 C 687.57 286 701 292.72 701 301 L 701 361 C 701 369.28 687.57 376 671 376 C 654.43 376 641 369.28 641 361 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 641 301 C 641 309.28 654.43 316 671 316 C 687.57 316 701 309.28 701 301" fill="none" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(642.5,317.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="57" height="26" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 58px; white-space: nowrap; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Employee</b>
						<div>
							<b>DB</b>
						</div>
					</div>
				</div></foreignObject>
				<text x="29" y="19" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 271 226 L 304.63 226" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 309.88 226 L 302.88 229.5 L 304.63 226 L 302.88 222.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<rect x="171" y="176" width="100" height="100" rx="6" ry="6" fill="#f8cecc" stroke="#b85450" stroke-width="2" pointer-events="none" />
				<g transform="translate(173.5,205.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>ItemReader : Read Line from CSV file</b>
					</div>
				</div></foreignObject>
				<text x="48" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 411 226 L 454.63 226" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 459.88 226 L 452.88 229.5 L 454.63 226 L 452.88 222.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 361 176 L 361 156 L 871 156 L 871 299.63" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 871 304.88 L 867.5 297.88 L 871 299.63 L 874.5 297.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<rect x="311" y="176" width="100" height="100" rx="6" ry="6" fill="#f8cecc" stroke="#b85450" stroke-width="2" pointer-events="none" />
				<g transform="translate(313.5,184.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="82" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Processor : make same transform on data and call API to calculate Tax</b>
					</div>
				</div></foreignObject>
				<text x="48" y="47" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 561 226 Q 671 226 671 279.63" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 671 284.88 L 667.5 277.88 L 671 279.63 L 674.5 277.88 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<rect x="461" y="176" width="100" height="100" rx="6" ry="6" fill="#f8cecc" stroke="#b85450" stroke-width="2" pointer-events="none" />
				<g transform="translate(463.5,184.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="82" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>ItemWriter : Write to DataBase, employee data (with calculated Tax)</b>
					</div>
				</div></foreignObject>
				<text x="48" y="47" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 171 456 Q 136 456 136 426 Q 136 396 107.37 396" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 102.12 396 L 109.12 392.5 L 107.37 396 L 109.12 399.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<rect x="171" y="406" width="100" height="100" rx="6" ry="6" fill="#dae8fc" stroke="#6c8ebf" stroke-width="2" pointer-events="none" />
				<g transform="translate(173.5,435.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>ItemWriter : write employee data on Json file</b>
					</div>
				</div></foreignObject>
				<text x="48" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 1 370.93 C 1 369.62 1.54 368.37 2.49 367.44 C 3.45 366.52 4.75 366 6.1 366 L 95.9 366 C 97.25 366 98.55 366.52 99.51 367.44 C 100.46 368.37 101 369.62 101 370.93 L 101 420.19 C 84.88 414.37 67.12 414.37 51 420.19 C 34.88 426 17.12 426 1 420.19 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(12.5,389.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="77" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 78px; white-space: nowrap; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Tax file JSON</b>
					</div>
				</div></foreignObject>
				<text x="39" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Tax file JSON&lt;/b&gt;</text></switch></g>
				<path d="M 461 456 L 417.37 456" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 412.12 456 L 419.12 452.5 L 417.37 456 L 419.12 459.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<rect x="461" y="406" width="100" height="100" rx="6" ry="6" fill="#dae8fc" stroke="#6c8ebf" stroke-width="2" pointer-events="none" />
				<g transform="translate(463.5,435.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>ItemReader : read row from database </b>
					</div>
				</div></foreignObject>
				<text x="48" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 311 456 L 277.37 456" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 272.12 456 L 279.12 452.5 L 277.37 456 L 279.12 459.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 361 506 L 361 526 L 871 526 L 871 372.37" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 871 367.12 L 874.5 374.12 L 871 372.37 L 867.5 374.12 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<rect x="311" y="406" width="100" height="100" rx="6" ry="6" fill="#dae8fc" stroke="#6c8ebf" stroke-width="2" pointer-events="none" />
				<g transform="translate(313.5,414.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="82" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Processor : make same transform on data and call API to validate Tax</b>
					</div>
				</div></foreignObject>
				<text x="48" y="47" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<rect x="731" y="306" width="280" height="60" rx="4.03" ry="4.03" fill="#f5f5f5" stroke="#666666" stroke-width="2" pointer-events="none" />
				<path d="M 771 306 L 771 366" fill="none" stroke="#666666" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 971 306 L 971 366" fill="none" stroke="#666666" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(773.5,329.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="195" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 196px; white-space: nowrap; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Tax Calculator / Validator Rest API</b>
					</div>
				</div></foreignObject>
				<text x="98" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Tax Calculator / Validator Rest API&lt;/b&gt;</text></switch></g>
				<path d="M 111 357 L 551 357 L 551 336 L 591 371 L 551 406 L 551 385 L 111 385 L 111 371 Z" fill="#dae8fc" stroke="#6c8ebf" stroke-width="2" stroke-miterlimit="10" transform="rotate(180,351,371)" pointer-events="none" />
				<g transform="translate(319.5,364.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="63" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Export Job</b>
					</div>
				</div></foreignObject>
				<text x="32" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Export Job&lt;/b&gt;</text></switch></g>
				<rect x="221" y="1" width="530" height="130" rx="7.8" ry="7.8" fill="#e1d5e7" stroke="#9673a6" stroke-width="2" pointer-events="none" />
				<path d="M 241 26 L 321 26 L 341 66 L 321 106 L 241 106 L 261 66 Z" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(247.5,58.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="84" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 84px; white-space: nowrap; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>      Delete files</b>
					</div>
				</div></foreignObject>
				<text x="42" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 371 26 L 451 26 L 471 66 L 451 106 L 371 106 L 391 66 Z" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(390.5,58.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="58" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 59px; white-space: nowrap; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>  DB clean</b>
					</div>
				</div></foreignObject>
				<text x="29" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;&amp;nbsp; DB clean&lt;/b&gt;</text></switch></g>
				<path d="M 501 26 L 581 26 L 601 66 L 581 106 L 501 106 L 521 66 Z" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(501.5,44.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="96" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>      Count files           (one file by thread)</b>
					</div>
				</div></foreignObject>
				<text x="48" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 631 26 L 711 26 L 731 66 L 711 106 L 631 106 L 651 66 Z" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(631.5,51.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="96" height="26" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>      Split to CSV files</b>
					</div>
				</div></foreignObject>
				<text x="48" y="19" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<rect x="221" y="556" width="460" height="130" rx="7.8" ry="7.8" fill="#e1d5e7" stroke="#9673a6" stroke-width="2" pointer-events="none" />
				<path d="M 411 581 L 491 581 L 511 621 L 491 661 L 411 661 L 431 621 Z" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00" stroke-miterlimit="10" transform="rotate(180,461,621)" pointer-events="none" />
				<g transform="translate(411.5,599.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="96" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Concat on      one JSON      file</b>
					</div>
				</div></foreignObject>
				<text x="48" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 251 581 L 331 581 L 351 621 L 331 661 L 251 661 L 271 621 Z" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00" stroke-miterlimit="10" transform="rotate(180,301,621)" pointer-events="none" />
				<g transform="translate(251.5,599.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="96" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Delete   chuncked       files</b>
					</div>
				</div></foreignObject>
				<text x="48" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 11 546 L 1011 546" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="3 3" pointer-events="none" />
				<path d="M 21 144.1 L 1011 144" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="3 3" pointer-events="none" />
				<path d="M 916 51.07 C 916 48.32 918.24 46.1 921 46.1 L 989 46.1 C 990.33 46.1 991.6 46.62 992.54 47.55 C 993.47 48.49 994 49.75 994 51.07 L 994 90.89 C 981.54 85.63 967.46 85.63 955 90.89 C 942.54 96.14 928.46 96.14 916 90.89 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 911 56.05 C 911 53.3 913.24 51.07 916 51.07 L 984 51.07 C 985.33 51.07 986.6 51.6 987.54 52.53 C 988.47 53.46 989 54.73 989 56.05 L 989 95.86 C 976.54 90.61 962.46 90.61 950 95.86 C 937.54 101.12 923.46 101.12 911 95.86 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 906 61.03 C 906 58.28 908.24 56.05 911 56.05 L 979 56.05 C 980.33 56.05 981.6 56.57 982.54 57.51 C 983.47 58.44 984 59.71 984 61.03 L 984 100.84 C 971.54 95.59 957.46 95.59 945 100.84 C 932.54 106.09 918.46 106.09 906 100.84 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(908.5,62.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="83" height="26" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 83px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Splited CSV files</b>
					</div>
				</div></foreignObject>
				<text x="42" y="19" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Splited CSV files&lt;/b&gt;</text></switch></g>
				<path d="M 916 596.07 C 916 593.32 918.24 591.1 921 591.1 L 989 591.1 C 991.76 591.1 994 593.32 994 596.07 L 994 635.89 C 981.54 630.63 967.46 630.63 955 635.89 C 942.54 641.14 928.46 641.14 916 635.89 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 911 601.05 C 911 599.73 911.53 598.46 912.46 597.53 C 913.4 596.6 914.67 596.07 916 596.07 L 984 596.07 C 985.33 596.07 986.6 596.6 987.54 597.53 C 988.47 598.46 989 599.73 989 601.05 L 989 640.86 C 976.54 635.61 962.46 635.61 950 640.86 C 937.54 646.12 923.46 646.12 911 640.86 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 906 606.03 C 906 603.28 908.24 601.05 911 601.05 L 979 601.05 C 981.76 601.05 984 603.28 984 606.03 L 984 645.84 C 971.54 640.59 957.46 640.59 945 645.84 C 932.54 651.09 918.46 651.09 906 645.84 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(908.5,607.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="83" height="26" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 83px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Splited JSON files</b>
					</div>
				</div></foreignObject>
				<text x="42" y="19" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Splited JSON files&lt;/b&gt;</text></switch></g>
				<path d="M 768 70 L 851 70 L 851 61 L 891 76 L 851 91 L 851 82 L 768 82 L 768 76 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 701 615 L 851 615 L 851 606 L 891 621 L 851 636 L 851 627 L 701 627 L 701 621 Z" fill="#fff2cc" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" transform="rotate(180,796,621)" pointer-events="none" />
				<path d="M 51 256 Q 51 66 214.63 66" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 219.88 66 L 212.88 69.5 L 214.63 66 L 212.88 62.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 221 621 Q 51 621 51 425.7" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 51 420.45 L 54.5 427.45 L 51 425.7 L 47.5 427.45 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1031 576 L 1031 116" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-dasharray="3 3" pointer-events="none" />
				<path d="M 1055.34 172 L 1189.64 172 C 1191.43 172.11 1193.06 173.4 1193.98 175.43 C 1194.9 177.46 1194.99 179.97 1194.22 182.11 L 1125.54 293.3 C 1123.71 294.99 1121.27 294.99 1119.44 293.3 L 1050.76 182.11 C 1049.99 179.97 1050.09 177.46 1051.01 175.43 C 1051.93 173.4 1053.55 172.11 1055.34 172 Z" fill="#f8cecc" stroke="#b85450" stroke-width="2" stroke-miterlimit="10" transform="rotate(90,1122.5,233.5)" pointer-events="none" />
				<g transform="translate(1063.5,213.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="118" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Execute </b>
						<div>
							<b>Multi-Import on parallel</b>
						</div>
					</div>
				</div></foreignObject>
				<text x="59" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 1112.17 51 C 1115.06 47.86 1119.17 46.05 1123.5 46 L 1158.51 46 C 1162.84 46.05 1166.95 47.86 1169.84 51 L 1190.43 74 C 1191.01 75.28 1191.01 76.72 1190.43 78 L 1169.84 101 C 1166.95 104.14 1162.84 105.95 1158.51 106 L 1123.5 106 C 1119.17 105.95 1115.06 104.14 1112.17 101 L 1091.58 78 C 1091 76.72 1091 75.28 1091.58 74 L 1112.17 51 Z" fill="url(#mx-gradient-fff2cc-1-ffd966-1-s-0)" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(1093.5,62.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="26" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Reader Partitionner</b>
					</div>
				</div></foreignObject>
				<text x="48" y="19" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Reader Partitionner&lt;/b&gt;</text></switch></g>
				<path d="M 994 76 Q 1042.67 76 1084.63 76" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1089.88 76 L 1082.88 79.5 L 1084.63 76 L 1082.88 72.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1112.17 580.57 C 1115.06 577.43 1119.17 575.62 1123.5 575.57 L 1158.51 575.57 C 1162.84 575.62 1166.95 577.43 1169.84 580.57 L 1190.43 603.57 C 1191.01 604.84 1191.01 606.29 1190.43 607.57 L 1169.84 630.57 C 1166.95 633.7 1162.84 635.52 1158.51 635.57 L 1123.5 635.57 C 1119.17 635.52 1115.06 633.7 1112.17 630.57 L 1091.58 607.57 C 1091 606.29 1091 604.84 1091.58 603.57 L 1112.17 580.57 Z" fill="url(#mx-gradient-fff2cc-1-ffd966-1-s-0)" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(1093.5,592.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="95" height="26" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 95px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Writer Partitionner</b>
					</div>
				</div></foreignObject>
				<text x="48" y="19" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Writer Partitionner&lt;/b&gt;</text></switch></g>
				<path d="M 1091 606 Q 1042.67 606 1042.67 613.5 Q 1042.67 621 1000.7 621" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 995.45 621 L 1002.45 617.5 L 1000.7 621 L 1002.45 624.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1191 76 Q 1211 76 1211 159.33 Q 1211 242.67 1190.7 242.67" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1185.45 242.67 L 1192.45 239.17 L 1190.7 242.67 L 1192.45 246.17 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1062.34 387 L 1196.64 387 C 1198.43 387.11 1200.06 388.4 1200.98 390.43 C 1201.9 392.46 1201.99 394.97 1201.22 397.11 L 1132.54 508.3 C 1130.71 509.99 1128.27 509.99 1126.44 508.3 L 1057.76 397.11 C 1056.99 394.97 1057.09 392.46 1058.01 390.43 C 1058.93 388.4 1060.55 387.11 1062.34 387 Z" fill="#dae8fc" stroke="#6c8ebf" stroke-width="2" stroke-miterlimit="10" transform="rotate(270,1129.5,448.5)" pointer-events="none" />
				<g transform="translate(1070.5,428.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="118" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 118px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Execute </b>
						<div>
							<b>Multi-Export on parallel </b>
						</div>
					</div>
				</div></foreignObject>
				<text x="59" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g>
				<path d="M 1191 449.33 Q 1211 449.33 1211 527.67 Q 1211 606 1197.37 606" fill="none" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1192.12 606 L 1199.12 602.5 L 1197.37 606 L 1199.12 609.5 Z" fill="#000000" stroke="#000000" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1129.5 331 L 1134.55 336 L 1129.5 341 L 1124.45 336 L 1129.5 331 Z M 1109.29 331 L 1114.34 336 L 1109.29 341 L 1104.23 336 L 1109.29 331 Z M 1149.71 331 L 1154.77 336 L 1149.71 341 L 1144.66 336 L 1149.71 331 Z" fill="#ffff00" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1082 316 L 1177 316" fill="none" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<path d="M 1082 356 L 1177 356" fill="none" stroke="#d6b656" stroke-width="2" stroke-miterlimit="10" pointer-events="none" />
				<g transform="translate(1185.5,328.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="72" height="12" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>Multi-Thread</b>
					</div>
				</div></foreignObject>
				<text x="36" y="12" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">&lt;b&gt;Multi-Thread&lt;/b&gt;</text></switch></g>
				<path d="M 561 581 L 641 581 L 661 621 L 641 661 L 561 661 L 581 621 Z" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00" stroke-miterlimit="10" transform="rotate(180,611,621)" pointer-events="none" />
				<g transform="translate(561.5,599.5)">
				<switch>
				<foreignObject style="overflow:visible;" pointer-events="all" width="96" height="40" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
				<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 96px; white-space: normal; word-wrap: normal; text-align: center;">
					<div xmlns="http://www.w3.org/1999/xhtml" style="display: inline-block; text-align: inherit; text-decoration: inherit;">
						<b>   Count files     (one file by thread)</b>
					</div>
				</div></foreignObject>
				<text x="48" y="26" fill="#000000" text-anchor="middle" font-size="12px" font-family="Helvetica">[Not supported by viewer]</text></switch></g></g></svg>
		</div>
	</body>
</html>