<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Batch Dashbord</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/3.3/examples/justified-nav/justified-nav.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">	

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">

		<div class="masthead">
			<h3 class="text-muted">Spring Batch</h3>
			<nav>
				<ul class="nav nav-justified">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="https://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a></li>
					<li><a href="https://projects.spring.io/spring-batch/" target="_blank">Spring Batch</a></li>
					<li><a href="https://projects.spring.io/spring-webflow/" target="_blank">Spring WebFlow</a></li>
				</ul>
			</nav>
		</div>

		<div class="jumbotron">
			<h1>Spring Batch Jobs!</h1>
			<p class="lead">Some examples for import CSV files to DataBase , export from DataBase to JSON file and import with export on same job (multithreaded).</p>
			<p>
				<button class="btn btn-success" type="button" data-toggle="collapse" data-target="#diagramme" aria-expanded="false" aria-controls="diagramme">
			    View diagramme
			  	</button>
			 </p>
		</div>

		<div th:replace="fragments/diagramme :: diagramme">...</div>
		
		<div class="row">
			
			<div class="col-lg-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Import</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger hide" role="alert"><strong>Error !</strong><span class="error-message"></span> </div>
						<form class="form-horizontal" name="importForm">
							<div class="form-group">
								<label class="control-label col-sm-3" for="file">Source</label>
								<div class="col-sm-9">
									<select id="file" name="sourcefilename" class="form-control">
										<option value="" selected> Choice input !</option>
										<option value="sample-data.csv">Small (1000 lines)</option>
										<option value="sample-data-medium.csv">Medium (10 000 lines)</option>
										<option value="sample-data-big.csv">Big (200 000 lines)</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-primary" name="run">Run</button>
									<button type="submit" class="btn btn-success" name="runasync">Run Async</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Export</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger hide" role="alert"><strong>Error !</strong><span class="error-message"></span> </div>
						<form class="form-horizontal" name="exportForm">
							<div class="form-group">
								<label class="control-label col-sm-5" for="file">Output (*.json)</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="file" name="outputfilename">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-primary" name="run">Run</button>
									<button type="submit" class="btn btn-success" name="runasync">Run Async</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Import and Export</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger hide" role="alert"><strong>Error !</strong><span class="error-message"></span> </div>
						<form class="form-horizontal" name="importExportForm">
							<div class="form-group">
								<label class="control-label col-sm-3" for="file">Source</label>
								<div class="col-sm-9">
									<select id="file" name="sourceoutputfilename" class="form-control">
										<option value="" selected> Choice input !</option>
										<option value="sample-data.csv">Small (1000 lines)</option>
										<option value="sample-data-medium.csv">Medium (10 000 lines)</option>
										<option value="sample-data-big.csv">Big (200 000 lines)</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-danger" name="runmulti">Run Async + Multi thread</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="footer">
			<p>&copy; 2017 MedInvention.</p>
		</footer>

	</div>

	<script type="text/html" id="rowTemplate">
	<div class="row job-row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4"></div>
  		<div class="col-lg-4"></div>
	</div>
	</script>
	
	<script type="text/html" id="jobTemplate">
	<div class="panel panel-default job-content" job-execution-id={{executionid}}>
		<div class="panel-heading">
			<h3 class="panel-title">[{{jobid}} | {{type}}] - {{jobname}} <span class="badge">{{status}}</span></h3>
  		</div>
		<div class="panel-body">
			<p>
				<strong>Execution ID : </strong>{{executionid}}<br>
				<strong>Started at : </strong><span class="started-at">{{startedat}}</span> and <strong>finished at : </strong><span class="finished-at">{{finishedat}}</span><br>
				<strong>Instance ID : </strong>{{instanceid}}<br>
				<strong>Timer : </strong><span class="timer">{{timer}}</span>
			</p>
		</div>
	</div>
	</script>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="https://malsup.github.io/jquery.blockUI.js"></script>
	
	<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		
		$.getJobStatusJob = function(jobExecutionId){
			var panel = $('div[job-execution-id='+jobExecutionId+']');
			
			$.ajax({
				url: '/job/status',
				data : {'id' : jobExecutionId},
				contentType: 'json',
				beforeSend: function(){ panel.block({message: 'update'});},
				success: function(data){
					$.updateJobView(data);
				},
				error: function(data){ 
					setTimeout(function(){ $.getJobStatusJob(jobExecutionId) }, 2000);		
				},
				complete: function(){ panel.unblock(); }
			});
		}
		
		// add new job container
		$.addJobView = function(jobData, column){
			var newJobContent = $('#jobTemplate').html(),
			
			replaceData = {pattern : ['{{jobid}}', '{{jobname}}', '{{status}}', '{{executionid}}', '{{startedat}}', '{{finishedat}}', '{{instanceid}}', '{{timer}}', '{{type}}'], 
					replace : [jobData.jobInstanceReport.id, jobData.jobInstanceReport.jobName, jobData.status, jobData.id, jobData.startedAt, 
						jobData.finishedAt, jobData.jobInstanceReport.instanceId, $.parseTimer(jobData.timer), jobData.type]}
			for(var i=0;i<replaceData.pattern.length;i++){
				newJobContent = newJobContent.replace(RegExp(replaceData.pattern[i], 'g'), replaceData.replace[i] == null ? '--/--/-- --:--:--' : replaceData.replace[i]);
			}
			
			if(!column || 0 == column){
				var container = null;
				$('div.job-row').each(function(index){
					if(null != container) return;
					if($.trim($(this).find('div.col-lg-4:first').html()) == ''){
						container = $(this).find('div.col-lg-4:first');
						return;
					}
				});
				if(null == container){
					$('div.row:last').after($('#rowTemplate').html());
					container = $('div.row:last').find('div.col-lg-4:first');
				}
				container.append(newJobContent);
			}else if (2 == column){
				var container = null;
				$('div.job-row').each(function(index){
					if(null != container) return;
					if($.trim($(this).find('div.col-lg-4:last').html()) == ''){
						container = $(this).find('div.col-lg-4:last');
					}
				});
				if(null == container){
					$('div.row:last').after($('#rowTemplate').html());
					container = $('div.row:last').find('div.col-lg-4:last');
				}
				container.append(newJobContent);
			}else{
				var container = null;
				$('div.job-row').each(function(index){
					if(null != container) return;
					if($.trim($(this).find('div.col-lg-4:eq(1)').html()) == ''){
						container = $(this).find('div.col-lg-4:eq(1)');
					}
				});
				if(null == container){
					$('div.row:last').after($('#rowTemplate').html());
					container = $('div.row:last').find('div.col-lg-4:eq(1)');
				}
				container.append(newJobContent);
			}
			
			if(jobData.running){
				setTimeout(function(){ $.getJobStatusJob(jobData.id); }, 2000);
			}
			
			$('html, body').animate({
		        scrollTop: $('div[job-execution-id='+jobData.id+']').offset().top
		    }, 1000);
		}
		
		$.updateJobView = function(jobData){
			var panel = $('div[job-execution-id='+jobData.id+']');
			panel.find('span.badge').text(jobData.status);
			panel.find('span.finished-at').text(jobData.finishedAt == null ? '--/--/-- --:--:--' : jobData.finishedAt);
			panel.find('span.started-at').text(jobData.startedAt == null ? '--/--/-- --:--:--' : jobData.startedAt);
			panel.find('span.timer').text($.parseTimer(jobData.timer));
			if(jobData.running){
				setTimeout(function(){ $.getJobStatusJob(jobData.id) }, 2000);
				return;
			}
		}
		
		$.parseTimer = function(timer){
			var minutes = Math.floor(timer / 60),
				seconds = Math.floor(timer - (minutes * 60));	
			return (minutes > 9 ? minutes : ('0'+minutes))+':'+(seconds > 9 ? seconds : ('0'+seconds));
		}
		
		$('form[name=importForm]').find('[name=run], [name=runasync]').click(function(){
			var async = $(this).attr('name') == 'runasync', 
				filename = $('select[name=sourcefilename]').val(),
				panel = $(this).closest('div.panel'),
				alert = panel.find('div.alert');
			
			alert.addClass('hide');
			
			if(filename == ''){
				alert.find('span.error-message').text('Please provide a filename !')
				alert.removeClass('hide');
				return;
			}
			
			$.ajax({
				url: (async ? '/person/async/import' : '/person/import'),
				data : {'filename' : filename},
				contentType: 'json',
				beforeSend: function(){ panel.block({message: 'process'});},
				success: function(data){
					$('select[name=sourcefilename]').val('');
					$.addJobView(data, 0);
				},
				error: function(data){ 
					alert.find('span.error-message').text(data.responseText)
					alert.removeClass('hide');
				},
				complete: function(){ panel.unblock(); }
			});
			
			return false;
		});
		
		$('form[name=exportForm]').find('[name=run], [name=runasync]').click(function(){
			var async = $(this).attr('name') == 'runasync', 
				filename = $('input[name=outputfilename]').val(),
				panel = $(this).closest('div.panel'),
				alert = panel.find('div.alert');
			
			alert.addClass('hide');
			
			if(filename == ''){
				alert.find('span.error-message').text('Please provide a filename !')
				alert.removeClass('hide');
				return;
			}
			
			$.ajax({
				url: (async ? '/person/async/export' : '/person/export'),
				data : {'filename' : filename},
				contentType: 'json',
				beforeSend: function(){ panel.block({message: 'process'});},
				success: function(data){
					$('input[name=outputfilename]').val('');
					$.addJobView(data, 1);
				},
				error: function(data){ 
					alert.find('span.error-message').text(data.responseText)
					alert.removeClass('hide');
				},
				complete: function(){ panel.unblock(); }
			});
			
			return false;
		});
		
		$('form[name=importExportForm]').find('[name=runmulti]').click(function(){
			var filename = $('select[name=sourceoutputfilename]').val(),
				panel = $(this).closest('div.panel'),
				alert = panel.find('div.alert');
			
			alert.addClass('hide');
			
			if(filename == ''){
				alert.find('span.error-message').text('Please provide a filename !')
				alert.removeClass('hide');
				return;
			}
			
			$.ajax({
				url: '/person/transform',
				data : {'filename' : filename},
				contentType: 'json',
				beforeSend: function(){ panel.block({message: 'process'});},
				success: function(data){
					$('select[name=sourceoutputfilename]').val('');
					$.addJobView(data, 2);
				},
				error: function(data){ 
					alert.find('span.error-message').text(data.responseText)
					alert.removeClass('hide');
				},
				complete: function(){ panel.unblock(); }
			});
			
			return false;
		});
		
		$('form[name=importForm], form[name=exportForm], form[name=importExportForm]').submit(function() {
			return false;
		});
		
		 /*<![CDATA[*/
        var jobs = $.parseJSON(/*[[${jobExecutionsJSON}]]*/'{}');
        /*]]>*/
        
        if(jobs.length != 0){
        	for(var i=0; i < jobs.importUserJob.length; i++){
        		$.addJobView(jobs.importUserJob[i], 0);
        	}
        	for(var i=0; i < jobs.exportUserJob.length; i++){
        		$.addJobView(jobs.exportUserJob[i], 1);
        	}
        	for(var i=0; i < jobs.transformJob.length; i++){
        		$.addJobView(jobs.transformJob[i], 2);
        	}
        }
	});
	</script>
</body>
</html>
