<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Batch Dashbord</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/3.3/examples/justified-nav/justified-nav.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">

		<div class="masthead">
			<h3 class="text-muted">Spring Batch</h3>
			<nav>
				<ul class="nav nav-justified">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Downloads</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>

		<div class="jumbotron">
			<h1>Spring Batch Jobs!</h1>
			<!-- 			<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p> -->
			<!-- 			<p> -->
			<!-- 				<a class="btn btn-lg btn-success" href="#" role="button">Get started today</a> -->
			<!-- 			</p> -->
		</div>

		<div class="row">
			
			<div class="col-lg-6">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Import</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger hide" role="alert"><strong>Error !</strong><span class="error-message"></span> </div>
						<form class="form-horizontal" name="importForm">
							<div class="form-group">
								<label class="control-label col-sm-5" for="file">Source filename (*.csv)</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="file" name="sourcefilename">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-8 col-sm-9">
									<button type="submit" class="btn btn-primary" name="run">Run</button>
									<button type="submit" class="btn btn-success" name="runasync">Run Async</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Export</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger hide" role="alert"><strong>Error !</strong><span class="error-message"></span> </div>
						<form class="form-horizontal" name="exportForm">
							<div class="form-group">
								<label class="control-label col-sm-5" for="file">Output filename (*.json)</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="file" name="outputfilename">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-8 col-sm-9">
									<button type="submit" class="btn btn-primary" name="run">Run</button>
									<button type="submit" class="btn btn-success" name="runasync">Run Async</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	
		<footer class="footer">
			<p>&copy; 2017 MedInvention.</p>
		</footer>

	</div>

	<script type="text/html" id="rowTemplate">
	<div class="row">
		<div class="col-lg-6"></div>
		<div class="col-lg-6"></div>
	</div>
	</script>
	
	<script type="text/html" id="jobTemplate">
	<div class="panel panel-default job-content" job-execution-id={{executionid}}>
		<div class="panel-body">[{{jobid}}] - {{jobname}} <span class="badge">{{status}}</span></div>
		<ul class="list-group">
			<li class="list-group-item"><strong>Execution ID : </strong>{{executionid}}</li>
			<li class="list-group-item"><strong>Started at : </strong><span class="started-at">{{startedat}}</span></li>
			<li class="list-group-item"><strong>Finished at : </strong><span class="finished-at">{{finishedat}}<span></li>
			<li class="list-group-item"><strong>Instance ID : </strong>{{instanceid}}</li>
			<li class="list-group-item"><strong>Timer : </strong><span class="timer">{{timer}}</span></li>
  		</ul>
	</div>
	</script>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="http://malsup.github.io/jquery.blockUI.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
		
		$.getJobStatusJob = function(jobExecutionId){
			var panel = $('div[job-execution-id='+jobExecutionId+']');
			
			$.ajax({
				url: '/job/status',
				data : {'id' : jobExecutionId},
				contentType: 'json',
				beforeSend: function(){ panel.block({message: 'update'});},
				success: function(data){
					$.updateJob(data);
				},
				error: function(data){ 
					setTimeout(function(){ $.getJobStatusJob(jobExecutionId) }, 3000);		
				},
				complete: function(){ panel.unblock(); }
			});
		}
		
		// add new job container
		$.addJob = function(jobData, column){
			var newJobContent = $('#jobTemplate').html(),
			
			replaceData = {pattern : ['{{jobid}}', '{{jobname}}', '{{status}}', '{{executionid}}', '{{startedat}}', '{{finishedat}}', '{{instanceid}}', '{{timer}}'], 
					replace : [jobData.jobInstanceReport.id, jobData.jobInstanceReport.jobName, jobData.status, jobData.id, jobData.startedAt, jobData.finishedAt, jobData.jobInstanceReport.instanceId, jobData.timer]}
			for(var i=0;i<replaceData.pattern.length;i++){
				newJobContent = newJobContent.replace(RegExp(replaceData.pattern[i], 'g'), replaceData.replace[i]);
			}
			
			if(!column || 0 == column){
				if($.trim($('div.row:last > div.col-lg-6:first').html())!=''){
					$('div.row:last').after($('#rowTemplate').html());
				}
				$('div.row:last > div.col-lg-6:first').append(newJobContent);
			}else{
				if($.trim($('div.row:last > div.col-lg-6:last').html())!=''){
					$('div.row:last').after($('#rowTemplate').html());
				}
				$('div.row:last > div.col-lg-6:last').append(newJobContent);
			}
			
			if(jobData.running){
				setTimeout(function(){ $.getJobStatusJob(jobData.id); }, 3000);
			}
		}
		
		$.updateJob = function(jobData){
			var panel = $('div[job-execution-id='+jobData.id+']');
			panel.find('span.badge').text(jobData.status);
			panel.find('span.finished-at').text(jobData.finishedAt);
			panel.find('span.started-at').text(jobData.startedAt);
			panel.find('span.timer').text(jobData.timer);
			if(jobData.running){
				setTimeout(function(){ $.getJobStatusJob(jobData.id) }, 3000);
				return;
			}
		}
		
		$('form[name=importForm]').find('[name=run], [name=runasync]').click(function(){
			var async = $(this).attr('name') == 'runasync', 
				filename = $('input[name=sourcefilename]').val(),
				panel = $(this).closest('div.panel'),
				alert = panel.find('div.alert');
			alert.addClass('hide');
			if(filename == ''){
				alert.find('span.error-message').text('Please provide a filename !')
				alert.removeClass('hide');
				return;
			}
			$.ajax({
				url: async ? '/person/async/import' : '/person/import',
				data : {'filename' : filename},
				contentType: 'json',
				beforeSend: function(){ panel.block({message: 'process'});},
				success: function(data){
					$('input[name=sourcefilename]').val('');
					$.addJob(data, 0);
				},
				error: function(data){ 
					alert.find('span.error-message').text(data.responseText)
					alert.removeClass('hide');
				},
				complete: function(){ panel.unblock(); }
			});
			
			return false;
		});
		
		$('form[name=importForm], form[name=exportForm]').submit(function() {
			return false;
		});
		
		$('form[name=exportForm]').find('[name=run], [name=runasync]').click(function(){
			var async = $(this).attr('name') == 'runasync', 
				filename = $('input[name=outputfilename]').val(),
				panel = $(this).closest('div.panel'),
				alert = panel.find('div.alert');
			alert.addClass('hide');
			if(filename == ''){
				alert.find('span.error-message').text('Please provide a filename !')
				alert.removeClass('hide');
				return;
			}
			$.ajax({
				url: async ? '/person/async/export' : '/person/export',
				data : {'filename' : filename},
				contentType: 'json',
				beforeSend: function(){ panel.block({message: 'process'});},
				success: function(data){
					$('input[name=outputfilename]').val('');
					$.addJob(data, 1);
				},
				error: function(data){ 
					alert.find('span.error-message').text(data.responseText)
					alert.removeClass('hide');
				},
				complete: function(){ panel.unblock(); }
			});
			
			return false;
		});
		
	});
	</script>
</body>
</html>
